# Gradle
.gradle/
**/build/
**/out/
# except
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Java
*.class
*.jar
*.war

# OS
**/.DS_Store
**/Thumbs.db

# Environment
.env

# Log
*.log

# Misc
.gcloudignore
gcloud.txt
app.yaml